<div class="container">
    <div class="image-header">
      <img src="http://www.icloud8.net/cmlc/images/logo.png" alt="" />
    </div>
    <mat-card class="main casemag" style="width: 579px; margin: 110px auto">

          <mat-card-header>
            <mat-card-title style="min-height: 40px; margin: 0;"
              ><mat-icon>dashboard</mat-icon> Form Links
            </mat-card-title>
      
          </mat-card-header>
          <mat-card-content>
            <div class="example-button-row">
              <button mat-button color="accent" (click)="gotopage('contactmgmt')"><mat-icon>double_arrow</mat-icon> Contact Management</button>
                <button mat-button color="accent" (click)="gotopage('legalform')"><mat-icon>double_arrow</mat-icon> Legal Form</button>
                <button mat-button color="accent" (click)="gotopage('accesslog')"><mat-icon>double_arrow</mat-icon> Access Log</button>
                <button mat-button color="accent" (click)="gotopage('casemgmt')"><mat-icon>double_arrow</mat-icon> Case Management</button>
                <button mat-button color="accent" (click)="gotopage('postdata')"><mat-icon>double_arrow</mat-icon> Post Data Acquisition</button>
              </div>
          </mat-card-content>
          
        </mat-card>
</div>
