<div class="container">
    <div class="image-header">
      <img src="http://www.icloud8.net/cmlc/images/logo.png" alt="" />
    </div>  
     
    <form [formGroup]="caseform" autocomplete="off" (ngSubmit)="onSubmit1()">
      <mat-card class="main">
        <ng-container *transloco="let t">
          <mat-card-header>
            <mat-card-title style="min-height: 40px; margin: 0;"
              ><mat-icon>dashboard</mat-icon> {{t('C_MGMT') }}
            </mat-card-title>
            <div class="buttonbar">
              <div class="buttonbarbg">
                <button mat-button><mat-icon>cloud_done</mat-icon> {{ t('SAVE')}}</button>
                <button mat-button><mat-icon>done_all</mat-icon> {{ t('SUBMIT')}}</button>
                <button mat-button><mat-icon>redo</mat-icon> {{ t('RESET')}}</button>
                <button mat-button>
                  <mat-icon>local_printshop</mat-icon> {{ t('PRINT')}}
                </button>
                <button mat-button>
                  <mat-icon>delete_outline</mat-icon> {{ t('DELETE')}}
                </button>
                <button mat-button>
                    <mat-icon>settings_applications</mat-icon> {{ t('APPLICATION')}}
                  </button>               
              </div>
            </div>
  
            <mat-button-toggle-group
              name="fontStyle"
              aria-label="Font Style"
              style="margin-right: 5px;"
              fxHide.lt-md
              class="langgroup"
            >
              <mat-button-toggle value="en" (click)="setActiveLang('en')"
                >EN</mat-button-toggle
              >
              <mat-button-toggle value="jp" (click)="setActiveLang('jp')"
                >JP</mat-button-toggle
              >
            </mat-button-toggle-group>
            <div class="staticlbl">
              SECURITY CASE
            </div>
            <!-- <button mat-raised-button color="accent" type="submit">
              <mat-icon>search</mat-icon>
              <span fxHide.lt-md>{{ t('SEARCH') }}</span>
            </button> -->
          </mat-card-header>
        </ng-container>
        <div
          fxLayout="row wrap"
          fxLayout.xs="column"
          fxLayoutAlign.gt-sm="space-around center"
          style="text-align: center; margin-bottom: 20px;"
          fxHide.gt-sm
        >
          <div fxFlex="0 0 100%">
            <mat-button-toggle-group
              name="fontStyle"
              aria-label="Font Style"
              style="margin-right: 5px;"
            >
              <mat-button-toggle value="en" (click)="setActiveLang('en')"
                >EN</mat-button-toggle
              >
              <mat-button-toggle value="jp" (click)="setActiveLang('jp')"
                >JP</mat-button-toggle
              >
            </mat-button-toggle-group>
          </div>
        </div>
  
        <ng-container *transloco="let t">
          <div
            fxLayout="row wrap"
            fxLayout.xs="column"
            fxLayoutAlign.gt-sm="space-around center"
          >
            <div fxFlex="0 0 25%">
              <label>{{ t('PNAME') }}</label>
            </div>
            <div fxFlex="0 0 25%">
              <mat-form-field>
                <input matInput placeholder="" formControlName="controlnumber" />
              </mat-form-field>
            </div>
            <div fxFlex="0 0 25%">
              <label>{{ t('CONTROL_NUMBER') }}</label>
            </div>
            <div fxFlex="0 0 25%">
              <mat-form-field>
                <input matInput placeholder="" formControlName="controlnumber" />
              </mat-form-field>
            </div>
          </div>
        </ng-container>
        <ng-container *transloco="let t">
          <div
            fxLayout="row wrap"
            fxLayout.xs="column"
            fxLayoutAlign.gt-sm="space-around center"
          >
            <div fxFlex="0 0 25%">
              <label>{{ t('APPL_DATE') }}</label>
            </div>
            <div fxFlex="0 0 25%">
              <mat-form-field>
                <input
                  matInput
                  [matDatepicker]="recpdate1"
                  formControlName="recpdate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="recpdate1"
                ></mat-datepicker-toggle>
                <mat-datepicker #recpdate1></mat-datepicker>
              </mat-form-field>
            </div>
            <div fxFlex="0 0 25%">
              <label>{{ t('APPL_DIVISION') }}</label>
            </div>
            <div fxFlex="0 0 25%">
              <mat-form-field>
                <input matInput placeholder="" formControlName="controlnumber" />
              </mat-form-field>
            </div>
          </div>
        </ng-container>
        <ng-container *transloco="let t">
          <div
            fxLayout="row wrap"
            fxLayout.xs="column"
            fxLayoutAlign.gt-sm="space-around center"
          >
            <div fxFlex="0 0 25%">
              <label>{{ t('LDPD') }}</label>
            </div>
            <div fxFlex="0 0 25%">
              <mat-form-field>
                <input
                  matInput
                  [matDatepicker]="begcontperiod"
                  formControlName="begcontperiod"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="begcontperiod"
                ></mat-datepicker-toggle>
                <mat-datepicker #begcontperiod></mat-datepicker>
              </mat-form-field>
            </div>
            <div fxFlex="0 0 25%">
              <label>{{ t('APPLY_F_DEPT') }}</label>
            </div>
            <div fxFlex="0 0 25%">
              <mat-form-field>
                <input matInput placeholder="" formControlName="applicant" />
                <mat-error
                  *ngIf="
                    caseform.get('applicant').errors &&
                    caseform.get('applicant').errors.required
                  "
                  >Please fill up the field</mat-error
                >
              </mat-form-field>
     
            </div>
          </div>
        </ng-container>
        <ng-container *transloco="let t">
            <div
              fxLayout="row wrap"
              fxLayout.xs="column"
              fxLayoutAlign.gt-sm="space-around center"
            >
              <div fxFlex="0 0 25%">
                <label>{{ t('CONC_OF_S_D') }}*</label>
              </div>
              <div fxFlex="0 0 25%">
                <mat-form-field>
                  <input
                    matInput
                    [matDatepicker]="begcontperiod1"
                    formControlName="begcontperiod"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="begcontperiod1"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #begcontperiod1></mat-datepicker>
                </mat-form-field>
              </div>
              <div fxFlex="0 0 25%">
                <label>{{ t('APPLICANT') }}*</label>
              </div>
              <div fxFlex="0 0 25%">
                <mat-form-field>
                  <input matInput placeholder="" formControlName="applicant" />
                  <mat-error
                    *ngIf="
                      caseform.get('applicant').errors &&
                      caseform.get('applicant').errors.required
                    "
                    >Please fill up the field</mat-error
                  >
                </mat-form-field>
                <div class="button-row">
                  <button
                    type="button"
                    mat-raised-button
                    color="primary"
                    class="gradient-primary"
                  >
                    <mat-icon>link</mat-icon> {{ t('REFERENCE') }}
                  </button>
                  <button
                    type="button"
                    mat-raised-button
                    color="warn"
                    class="gradient-warn"
                  >
                    <mat-icon>clear</mat-icon> {{ t('CLEAR') }}
                  </button>
                </div>
              </div>
            </div>
          </ng-container>
        <ng-container *transloco="let t">
          <div
            fxLayout="row wrap"
            fxLayout.xs="column"
            fxLayoutAlign.gt-sm="space-around center"
          >
            <div fxFlex="0 0 25%">
              <label>{{ t('LDRT') }}*</label>
            </div>
            <div fxFlex="0 0 25%">
              <mat-form-field>
                <input
                  matInput
                  [matDatepicker]="begcontperiod2"
                  formControlName="begcontperiod"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="begcontperiod2"
                ></mat-datepicker-toggle>
                <mat-datepicker #begcontperiod2></mat-datepicker>
              </mat-form-field>
            </div>
            <div fxFlex="0 0 25%">
              <label>{{ t('PERSON_CONCERN') }}*</label>
            </div>
            <div fxFlex="0 0 25%">
              <mat-form-field>
                <input matInput placeholder="" formControlName="applicant" />
                <mat-error
                  *ngIf="
                    caseform.get('applicant').errors &&
                    caseform.get('applicant').errors.required
                  "
                  >Please fill up the field</mat-error
                >
              </mat-form-field>
              <div class="button-row">
                <button
                  type="button"
                  mat-raised-button
                  color="primary"
                  class="gradient-primary"
                >
                  <mat-icon>link</mat-icon> {{ t('REFERENCE') }}
                </button>
                <button
                  type="button"
                  mat-raised-button
                  color="warn"
                  class="gradient-warn"
                >
                  <mat-icon>clear</mat-icon> {{ t('CLEAR') }}
                </button>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *transloco="let t">
          <div
            fxLayout="row wrap"
            fxLayout.xs="column"
            fxLayoutAlign.gt-sm="space-around center"
          >
            <div fxFlex="0 0 25%">
              <label>{{ t('STATUS') }}*</label>
            </div>
            <div fxFlex="0 0 25%">
              <mat-form-field>
                <mat-select formControlName="classification">
                  <mat-option value="{{ t('CREATING') }}">{{
                    t('CREATING')
                  }}</mat-option>
                  <mat-option value="{{ t('CREATING') }}">{{
                    t('CREATING')
                  }}</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="
                    caseform.get('classification').errors &&
                    caseform.get('classification').errors.required
                  "
                  >Please fill up the field</mat-error
                >
              </mat-form-field>
            </div>
            <div fxFlex="0 0 25%">
                <label>{{ t('LEGAL_REPRESENTATIVE') }}</label>
              </div>
              <div fxFlex="0 0 25%">
                <mat-form-field>
                  <input matInput placeholder="" formControlName="controlnumber" />
                </mat-form-field>
              </div>
          </div>
        </ng-container>
        <ng-container *transloco="let t">
          <div
            fxLayout="row wrap"
            fxLayout.xs="column"
            fxLayoutAlign.gt-sm="space-around center"
          >
          <div fxFlex="0 0 25%">
            <label>{{ t('LEGAL_DEPARTMENT_NOTES') }}</label>
          </div>
          <div fxFlex="0 0 25%">
            <mat-form-field>
              <input matInput placeholder="" formControlName="controlnumber" />
            </mat-form-field>
          </div>
          <div fxFlex="0 0 25%">
            <label>{{ t('LEGAL_DEPARTMENT_ITEM') }}</label>
          </div>
          <div fxFlex="0 0 25%">
              <label class="file">
                <input type="file" id="file" aria-label="File browser example">
                <mat-icon>cloud_upload</mat-icon><span class="file-custom" [attr.data-lbl]="'ADD' | transloco">
                  </span>
              </label> 
          </div>
          </div>
        </ng-container>
        <ng-container *transloco="let t">
          <div
            fxLayout="row wrap"
            fxLayout.xs="column"
            fxLayoutAlign.gt-sm="space-around center"
          >
            <div fxFlex="0 0 25%">
              <label>{{ t('APPROVAL_DECISION_NUMBER') }}</label>
            </div>
            <div fxFlex="0 0 25%">
                <mat-form-field>
                    <input matInput placeholder="" formControlName="controlnumber" />
                  </mat-form-field>
            </div>
            <div fxFlex="0 0 25%">
              <label>{{ t('BOX_NUMBER') }}</label>
            </div>
            <div fxFlex="0 0 25%">
                <mat-form-field>
                    <input matInput placeholder="" formControlName="controlnumber" />
                  </mat-form-field>
          
            </div>
          </div>
        </ng-container>
        <ng-container *transloco="let t">
          <div
            fxLayout="row wrap"
            fxLayout.xs="column"
            fxLayoutAlign.gt-sm="space-around center"
          >
            <div fxFlex="0 0 25%">
              <label>{{ t('NAMEEXTCONSULT') }}</label>
            </div>
            <div fxFlex="0 0 25%">
              <mat-form-field>
                <input matInput placeholder="" formControlName="autoupdate" />
              </mat-form-field>
                
            </div>
  
            <div fxFlex="0 0 50%"></div>
          </div>
        </ng-container>
      </mat-card>
      </form>
      <mat-card class="main" style="margin-bottom: 50px">
            <mat-tab-group color="accent" backgroundColor="accent" selectedIndex="0" fitInkBarToContent="true">
                <mat-tab>
                    <ng-template mat-tab-label *transloco="let t">
                      <mat-icon>developer_board</mat-icon>
                      {{t('CONTRACT_CONTENT')}}
                    </ng-template>
                  <ng-container *transloco="let t">
                    <div class="addnewbtn">
                      <button mat-raised-button color="accent" (click)="addContractContentFormGroup()">{{t('ADD')}}  <mat-icon>add</mat-icon></button>
                    </div>
                   
                      <form [formGroup]="contractcontentform" autocomplete="off" (ngSubmit)="onSubmit2()" >
                        <mat-tab-group [selectedIndex]="seltab" formArrayName="elementArray" style="overflow:hidden">
           
                           
                            <mat-tab label=" {{i+1}}" *ngFor="let element of contractcontentform.get('elementArray').controls; let i = index"  [formGroupName]="i">
                              <ng-template [ngIf]="showdeletebtn">
                                <div style="text-align: right;margin-top: 20px;">
                                  <button mat-raised-button color="warn" (click)="removeOrClearContractContent(i);"><mat-icon>delete_forever</mat-icon>{{ t('DELETE') }}</button>
                                </div>
                              </ng-template>
                              <div
                              fxLayout="row wrap"
                              fxLayout.xs="column"
                              fxLayoutAlign.gt-sm="space-around center"
                            >
                              <div fxFlex="0 25%">
                                <label>{{ t('NEW_RENEWAL') }}*</label>
                              </div>
                              <div fxFlex="0 0 25%">
                                  <mat-form-field>
                                      <mat-select formControlName="new_renew">
                                        <mat-option value="yes">{{ t('NEW') }}</mat-option>
                                        <mat-option value="no">{{ t('RENEWAL') }}</mat-option>
                                      </mat-select>
                                  </mat-form-field>
                                  <!-- <mat-error
                          *ngIf="
                          contractcontentform.get('autoupdate2').errors &&
                            contractcontentform.get('autoupdate2').errors.required
                          "
                          >Please fill up the field</mat-error -->
                        
                              </div>
                        
                              <div fxFlex="0 0 25%">
                                <label>{{ t('CONTRACT_TYPE') }}*</label>
                              </div>
                              <div fxFlex="0 0 25%">
                                  <mat-form-field>
                                      <mat-select formControlName="contracttype" name="contracttype">
                                        <mat-option value="yes">{{ t('NON_DISCLOSURE_AGREEMENT') }}</mat-option>
                                        <mat-option value="no">{{ t('NON_DISCLOSURE_AGREEMENT') }}</mat-option>
                                        <mat-option value="no">{{ t('NON_DISCLOSURE_AGREEMENT') }}</mat-option>
                                      </mat-select>
                                    </mat-form-field>
                              </div>
                            </div>
                            <div
                                fxLayout="row wrap"
                                fxLayout.xs="column"
                                fxLayoutAlign.gt-sm="space-around center"
                            >
                                <div fxFlex="0 0 25%">
                                <label>{{ t('CONTRACT_NAME') }}</label>
                                </div>
                                <div fxFlex="0 0 25%">
                                <mat-form-field>
                                    <input matInput placeholder="" formControlName="contractname" />
                                </mat-form-field>
                                </div>
                                <div fxFlex="0 0 25%">
                                <label>{{ t('CONTRACT_ITEM') }}</label>
                                </div>
                                <div fxFlex="0 0 25%">
                                <mat-form-field>
                                    <input matInput placeholder="" formControlName="contracteditem" />
                                </mat-form-field>
                                </div>
                            </div>
                            <div
                            fxLayout="row wrap"
                            fxLayout.xs="column"
                            fxLayoutAlign.gt-sm="space-around center"
                          >
                            <div fxFlex="0 0 25%">
                              <label>{{ t('OTHER_PARTY') }}</label>
                            </div>
                            <div fxFlex="0 0 25%">
                              <mat-form-field>
                                <input matInput placeholder="" formControlName="contractor" />
                              </mat-form-field>
                              <div class="button-row">
                                <button
                                  type="button"
                                  mat-raised-button
                                  color="primary"
                                  class="gradient-primary"
                                >
                                  <mat-icon>link</mat-icon> {{ t('REFERENCE') }}
                                </button>
                                <button
                                  type="button"
                                  mat-raised-button
                                  color="warn"
                                  class="gradient-warn"
                                >
                                  <mat-icon>clear</mat-icon> {{ t('CLEAR') }}
                                </button>
                              </div>
                            </div>
                            <div fxFlex="0 0 25%">
                              <label>{{ t('BEGINNING_DATE_OF_THE_CONTRACT') }}</label>
                            </div>
                            <div fxFlex="0 0 25%">
                              <mat-form-field>
                                <input
                                  matInput
                                  [matDatepicker]="begcontperiod3"
                                  formControlName="begcontperiod"
                                />
                                <mat-datepicker-toggle
                                  matSuffix
                                  [for]="begcontperiod3"
                                ></mat-datepicker-toggle>
                                <mat-datepicker #begcontperiod3></mat-datepicker>
                              </mat-form-field>
                            </div>
                          </div>
                          <div
                            fxLayout="row wrap"
                            fxLayout.xs="column"
                            fxLayoutAlign.gt-sm="space-around center"
                            >
                            <div fxFlex="0 0 25%">
                                <label>{{ t('END_DATE_OF_THE_CONTRACT') }}</label>
                            </div>
                            <div fxFlex="0 0 25%">
                                <mat-form-field>
                                <input
                                    matInput
                                    [matDatepicker]="endcontperiod5"
                                    formControlName="endcontperiod"
                                />
                                <mat-datepicker-toggle
                                    matSuffix
                                    [for]="endcontperiod5"
                                ></mat-datepicker-toggle>
                                <mat-datepicker #endcontperiod5></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div fxFlex="0 0 25%">
                                <label>{{ t('AUTOMATIC_UPDATE') }}</label>
                            </div>
                            <div fxFlex="0 0 25%">
                                <mat-form-field>
                                <mat-select formControlName="autoupdate2" name="autoupdate2">
                                    <mat-option value="yes">{{ t('YES') }}</mat-option>
                                    <mat-option value="no">{{ t('NO') }}</mat-option>
                                </mat-select>
                                </mat-form-field>
                            </div>
                            </div>
                            <div
                            fxLayout="row wrap"
                            fxLayout.xs="column"
                            fxLayoutAlign.gt-sm="space-around center"
                            >
                            <div fxFlex="0 0 25%">
                                <label>{{ t('ALERT_RELEASE_DATE') }}*</label>
                            </div>
                            <div fxFlex="0 0 25%">
                                <mat-form-field>
                                <input
                                    matInput
                                    [matDatepicker]="endcontperiod13"
                                    formControlName="alertreleasedate"
                                />
                                <mat-datepicker-toggle
                                    matSuffix
                                    [for]="endcontperiod13"
                                ></mat-datepicker-toggle>
                                <mat-datepicker #endcontperiod13></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div fxFlex="0 0 25%">
                                <label>{{ t('RELATE_CONTRACT_NUMBER') }}</label>
                            </div>
                            <div fxFlex="0 0 25%">
                                <mat-form-field>
                                    <input matInput placeholder="" formControlName="relatecontract" />
                                  </mat-form-field>
                            </div>
                            </div>
                            <div
                            fxLayout="row wrap"
                            fxLayout.xs="column"
                            fxLayoutAlign.gt-sm="space-around center"
                          >
                          <div fxFlex="0 0 25%">
                            <label>{{ t('EXTCONSULT') }}</label>
                          </div>
                          <div fxFlex="0 0 25%">
                            <mat-form-field>
                                <mat-select formControlName="externalconsultant">
                                    <mat-option value="yes">{{ t('YES') }}</mat-option>
                                    <mat-option value="no">{{ t('NO') }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                          </div>
                          <div fxFlex="0 0 25%">
                            <label>{{ t('FIX_VERSION_CONTRACT_ATTACHED') }}</label>
                          </div>
                          <div fxFlex="0 0 25%">
                              <label class="file">
                                <input type="file" id="file" aria-label="File browser example" formControlName="contractattached">
                                <mat-icon>cloud_upload</mat-icon><span class="file-custom" [attr.data-lbl]="'ADD' | transloco">
                                  </span>
                              </label>
                          </div>
                          </div>
                          <div
                        fxLayout="row wrap"
                        fxLayout.xs="column"
                        fxLayoutAlign.gt-sm="space-around start"
                        style="margin-top: 20px;"
                        >
                        <div fxFlex="0 0 25%">
                        <label>{{ t('RELATED_COUNTRIES') }} </label>
                        </div>
                        <div fxFlex="0 0 25%">
                        <mat-checkbox class="country-margin" formControlName="country_korea">{{
                        t('JAPAN')
                        }}</mat-checkbox>
                        <mat-checkbox
                        class="country-margin"
                        formControlName="country_china"
                        >{{ t('US') }}</mat-checkbox
                        ><br />
                        <mat-checkbox
                        class="country-margin"
                        formControlName="country_korea"
                        >{{ t('CHINA') }}</mat-checkbox
                        >
                        <mat-checkbox
                        class="country-margin"
                        formControlName="country_europe"
                        >{{ t('TAIWAN') }}</mat-checkbox
                        >
                        </div>
                        
                        <div fxFlex="0 0 50%">
                        <mat-checkbox
                        class="country-margin"
                        formControlName="country_tiwan"
                        >{{ t('INDIA') }}</mat-checkbox
                        >
                        <mat-checkbox
                        class="country-margin"
                        formControlName="country_india"
                        >{{ t('EUROPE') }}</mat-checkbox
                        ><br />
                        <mat-checkbox
                        class="country-margin"
                        formControlName="country_others"
                        >{{ t('OTHERS') }}</mat-checkbox
                        ><br />
                        </div>
                        </div>
                            </mat-tab>
     
           
                    </mat-tab-group>
                      </form>
                    
                 
                  </ng-container>
                  </mat-tab>
                  <!-- MESSAGE CONTENT TAB -->
                
                   
                        <mat-tab>                      
                          <ng-template mat-tab-label *transloco="let t">
                            <mat-icon>mail_outline</mat-icon>
                            {{t('MASSEGE_CONTENT')}}
                          </ng-template>
                          <ng-container *transloco="let t">
                            <div
                              fxLayout="row wrap"
                              fxLayout.xs="column"
                              fxLayoutAlign.gt-sm="space-around center"
                            >
                              <div fxFlex="0 0 25%">
                                <label>{{ t('MESSAGE') }}</label>
                              </div>
                              <div fxFlex="0 0 75%">
                                <mat-form-field>
                                  <textarea
                                    matInput
                                    placeholder=""
                                    
                                    rows="3"
                                  ></textarea>
                                </mat-form-field>
                              </div>
                            </div>
                
                            <div
                              fxLayout="row wrap"
                              fxLayout.xs="column"
                              fxLayoutAlign.gt-sm="space-around center"
                            >
                              <div fxFlex="0 0 25%">
                                <label>{{ t('ATTACHMENT') }}</label>
                              </div>
                              <div fxFlex="0 0 35%">
                                <label class="file">
                                  <input type="file" id="file1" aria-label="File browser example">
                                  <mat-icon>cloud_upload</mat-icon><span class="file-custom long" [attr.data-lbl]="'ADDTIONAL' | transloco">
                                    
                                  </span>
                                </label>
                              </div>
                              <div fxFlex="0 0 15%">
                                <label>{{ t('RDATE') }}</label>
                              </div>
                              <div fxFlex="0 0 25%">
                                <mat-form-field>
                                  <input
                                    matInput
                                    [matDatepicker]="recpdate3"
                                    
                                  />
                                  <mat-datepicker-toggle
                                    matSuffix
                                    [for]="recpdate3"
                                  ></mat-datepicker-toggle>
                                  <mat-datepicker #recpdate3></mat-datepicker>
                                </mat-form-field>
                              </div>
                            </div>
                            
                              <div
                                fxLayout="row wrap"
                                fxLayout.xs="column"
                                fxLayoutAlign.gt-sm="space-around center"
                              >
                                <div fxFlex="0 0 100%" class="historylbl">
                                  <mat-icon>history</mat-icon><label>{{ t('HISTORY') }}</label>
                                </div>
                              </div>
                              <div
                              fxLayout="row wrap"
                              fxLayout.xs="column"
                              fxLayoutAlign.gt-sm="space-around center"
                            >
                              <div fxFlex="0 0 25%">
                                <label>{{ t('FROM(HISTORY)') }}</label>
                              </div>
                              <div fxFlex="0 0 35%">
                                <mat-form-field>
                                  <input
                                    matInput
                                    placeholder=""
                                   
                                  />
                                </mat-form-field>
                              </div>
                              <div fxFlex="0 0 15%">
                                <label>{{ t('STATUS(HISTORY)') }}</label>
                              </div>
                              <div fxFlex="0 0 25%">
                                <mat-form-field>
                                  <input
                                    matInput
                                    placeholder=""
                                    
                                  />
                                </mat-form-field>
                              </div>
                            </div>
                
                        
                              <div
                              fxLayout="row wrap"
                              fxLayout.xs="column"
                              fxLayoutAlign.gt-sm="space-around center"
                            >
                              <div fxFlex="0 0 25%">
                                <label>{{ t('SENT_DATE_AND_TIME') }}</label>
                              </div>
                              <div fxFlex="0 0 35%">
                                <mat-form-field>
                                  <input
                                    matInput
                                    placeholder=""
                                   
                                  />
                                </mat-form-field>
                              </div>
                              <div fxFlex="0 0 15%">
                                <label>{{ t('STAKEHOLDER(HISTORY)') }}</label>
                              </div>
                              <div fxFlex="0 0 25%">
                                <mat-form-field>
                                  <input
                                    matInput
                                    placeholder=""
                                   
                                  />
                                </mat-form-field>
                              </div>
                            </div>
                
                
                            <div
                            fxLayout="row wrap"
                            fxLayout.xs="column"
                            fxLayoutAlign.gt-sm="space-around center"
                          >
                            <div fxFlex="0 0 25%">
                              <label>{{ t('MESSAGE(HISTORY)') }}</label>
                            </div>
                            <div fxFlex="0 0 75%">
                              <mat-form-field>
                                <textarea
                                  matInput
                                  placeholder=""
                                  
                                  rows="3"
                                ></textarea>
                              </mat-form-field>
                            </div>
                          </div>
                          
                          <div
                          fxLayout="row wrap"
                          fxLayout.xs="column"
                          fxLayoutAlign.gt-sm="space-around center"
                        >
                          <div fxFlex="0 0 25%">
                            <label>{{ t('ATTACHMENTS(HISTORY)') }}</label>
                          </div>
                          <div fxFlex="0 0 25%">
                            <mat-form-field>
                              <input
                                matInput
                                placeholder=""
                               
                              />
                            </mat-form-field>
                          </div>
                
                          <div fxFlex="0 0 50%" style="text-align: right">
                            <button mat-button color="primary"> <mat-icon>launch</mat-icon> {{t('DPMSG')}}</button>
                          </div>
                        </div>
                
                          </ng-container>
                        </mat-tab>
                 
            </mat-tab-group>
        
      </mat-card>
   
  </div>
  