<div class="container">
    <div class="image-header">
      <img src="http://www.icloud8.net/cmlc/images/logo.png" alt="" />
    </div>
    <form [formGroup]="caseform" autocomplete="off" (ngSubmit)="onSubmit()">
      <mat-card class="main accesslog">
        <ng-container *transloco="let t">
          <mat-card-header>
            <mat-card-title style="min-height: 40px; margin: 0;"
              ><mat-icon>dashboard</mat-icon> {{ t('ACCESS_LOG_LIST') }}
            </mat-card-title>
            <mat-button-toggle-group
              name="fontStyle"
              aria-label="Font Style"
              style="margin-right: 5px;"
              fxHide.lt-md
              class="langgroup"
            >
              <mat-button-toggle value="en" (click)="setActiveLang('en')"
                >EN</mat-button-toggle
              >
              <mat-button-toggle value="jp" (click)="setActiveLang('jp')"
                >JP</mat-button-toggle
              > </mat-button-toggle-group
            ><button mat-raised-button color="accent" type="submit">
              <mat-icon>search</mat-icon>
              <span fxHide.lt-md>{{ t('SEARCH') }}</span>
            </button>
          </mat-card-header>
         
        </ng-container>
        <div
          fxLayout="row wrap"
          fxLayout.xs="column"
          fxLayoutAlign.gt-sm="space-around center"
          style="text-align: center; margin-bottom: 20px;"
          fxHide.gt-sm
        >
          <div fxFlex="0 0 100%">
            <mat-button-toggle-group
              name="fontStyle"
              aria-label="Font Style"
              style="margin-right: 5px;"
            >
              <mat-button-toggle value="en" (click)="setActiveLang('en')"
                >EN</mat-button-toggle
              >
              <mat-button-toggle value="jp" (click)="setActiveLang('jp')"
                >JP</mat-button-toggle
              >
            </mat-button-toggle-group>
          </div>
        </div>
  
        <ng-container *transloco="let t">
          <div
            fxLayout="row wrap"
            fxLayout.xs="column"
            fxLayoutAlign.gt-sm="space-around center"
          >
            <div fxFlex="0 0 25%">
              <label>{{ t('OPERATION_TYPE') }}*</label>
            </div>
            <div fxFlex="0 0 25%">
              <mat-form-field>
                <mat-select formControlName="classification">
                  <mat-option value="{{ t('NEW_REGISTRATION') }}">{{
                    t('NEW_REGISTRATION')
                  }}</mat-option>
                  <mat-option value="{{ t('SEND') }}">{{
                    t('SEND')
                  }}</mat-option>
                  <mat-option value="{{ t('DELETE') }}">{{
                    t('DELETE')
                  }}</mat-option>
                  <mat-option value="{{ t('PRINT') }}">{{
                    t('PRINT')
                  }}</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="
                    caseform.get('classification').errors &&
                    caseform.get('classification').errors.required
                  "
                  >Please fill up the field</mat-error
                >
              </mat-form-field>
            </div>
            <div fxFlex="0 0 25%">
                <label>{{ t('OPERATION_DPT') }}</label>
              </div>
              <div fxFlex="0 0 25%">
                <mat-form-field>
                  <input matInput placeholder="" formControlName="appdept" />
                </mat-form-field>
                <div class="button-row">
                  <button
                    type="button"
                    mat-raised-button
                    color="primary"
                    class="gradient-primary"
                  >
                    <mat-icon>link</mat-icon> {{ t('REFERENCE') }}
                  </button>
                  <button
                    type="button"
                    mat-raised-button
                    color="warn"
                    class="gradient-warn"
                  >
                    <mat-icon>clear</mat-icon> {{ t('CLEAR') }}
                  </button>
                </div>
              </div>
          </div>
        </ng-container>
        <ng-container *transloco="let t">
          <div
            fxLayout="row wrap"
            fxLayout.xs="column"
            fxLayoutAlign.gt-sm="space-around center"
          >
            <div fxFlex="0 0 25%">
              <label>{{ t('OPERATION_DATE') }}*</label>
            </div>
            <div fxFlex="0 0 25%">
              <mat-form-field>
                <input
                  matInput
                  [matDatepicker]="recpdate"
                  formControlName="recpdate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="recpdate"
                ></mat-datepicker-toggle>
                <mat-datepicker #recpdate></mat-datepicker>
              </mat-form-field>
            </div>
            <div fxFlex="0 0 25%">
                <label>{{ t('OPERATOR') }}</label>
              </div>
              <div fxFlex="0 0 25%">
                <mat-form-field>
                  <input matInput placeholder="" formControlName="appdept" />
                </mat-form-field>
                <div class="button-row">
                  <button
                    type="button"
                    mat-raised-button
                    color="primary"
                    class="gradient-primary"
                  >
                    <mat-icon>link</mat-icon> {{ t('REFERENCE') }}
                  </button>
                  <button
                    type="button"
                    mat-raised-button
                    color="warn"
                    class="gradient-warn"
                  >
                    <mat-icon>clear</mat-icon> {{ t('CLEAR') }}
                  </button>
                </div>
              </div>
          </div>
        </ng-container>
        <ng-container *transloco="let t">
          <div
            fxLayout="row wrap"
            fxLayout.xs="column"
            fxLayoutAlign.gt-sm="space-around center"
          >
          <div fxFlex="0 0 25%">
            <label>{{ t('CONTROL_NUMBER') }}</label>
          </div>
          <div fxFlex="0 0 25%">
            <mat-form-field>
              <input matInput placeholder="" formControlName="controlnumber" />
            </mat-form-field>
          </div>
          <div fxFlex="0 0 25%">
            <label>{{ t('PNAME') }}</label>
          </div>
          <div fxFlex="0 0 25%">
            <mat-form-field>
              <input matInput placeholder="" formControlName="controlnumber" />
            </mat-form-field>
          </div>
          </div>
        </ng-container>
       
        <ng-container *transloco="let t">
          <div
            fxLayout="row wrap"
            fxLayout.xs="column"
            fxLayoutAlign="space-around center"
            style="margin-top: 10px;"
          >
            <div fxFlex="0 0 100%">
              <button mat-raised-button color="accent">
                <mat-icon>search</mat-icon> {{ t('SEARCH') }}
              </button>
            </div>
          </div>
        </ng-container>
        <mat-card class="dataset">
          <div class="card-icon">
            <ng-container *transloco="let t">
              {{ t('ACCESS_LOG_LIST') }}
            </ng-container>
          </div>
          <ng-container *transloco="let t">
            <div
              fxLayout="row wrap"
              fxLayout.xs="column"
              fxLayoutAlign="space-around center"
              style="margin-top: 10px;"
            >
              <div fxFlex="0 0 100%" fxLayoutAlign="end center" class="margintop">
                <div class="onmobile">
                    <span
                    >{{ t('THE_TOALNOFC') }}:
                    <mat-chip color="primary" selected>11</mat-chip></span
                  >
                  <!-- <button
                    type="button"
                    mat-raised-button
                    color="primary"
                    class="gradient-success mr-1"
                  >
                    <mat-icon>cloud_download</mat-icon> {{ t('CSV_CREATE') }}
                  </button>
                  <button
                    type="button"
                    mat-raised-button
                    color="primary"
                    class="gradient-indigo"
                  >
                    <mat-icon>print</mat-icon> {{ t('PRINT') }}
                  </button> -->
                </div>
              </div>
            </div>
          </ng-container>
          <div
            fxLayout="row wrap"
            fxLayout.xs="column"
            fxLayoutAlign="space-around center"
            style="margin-top: 10px;"
            fxHide.lt-md
            class="only-desktop"
            *transloco="let t"
          >
            <div fxFlex="0 0 100%">
              <div class="datatable-container mat-elevation-z1">
                <table mat-table [dataSource]="dataSource" class="casetable" matSort (matSortChange)="sortData($event)">
                  <!-- Controlnumber Column -->
  
                  <ng-container
                    matColumnDef="Controlnumber"
                    
                    *transloco="let t"
                  >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="Controlnumber">
                      {{ t('CONTROL_NUMBER') }}
                    </th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.Controlnumber }}
                    </td>
                  </ng-container>
  
                  <!-- BranchNumber Column -->
                  <ng-container matColumnDef="ProjectName" >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="ProjectName">
                      {{ t('PNAME') }}
                    </th>
                    <td mat-cell *matCellDef="let element" >
                      {{ element.ProjectName }}
                    </td>
                  </ng-container>
  
                  <!-- Applicationdepartment Column -->
                  <ng-container matColumnDef="Operator">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="Operator">
                      {{ t('OPERATOR') }}
                    </th>
                    <td mat-cell *matCellDef="let element" >
                          {{ element.Operator }}
                    </td>
                  </ng-container>
  
                  <!-- Applicant Column -->
                  <ng-container matColumnDef="OperationDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="OperationDate">
                      {{ t('OPERATION_DATE') }}
                    </th>
                    <td mat-cell *matCellDef="let element" >
                      {{ element.OperationDate }}
                    </td>
                  </ng-container>
  
                  <!-- ApplicationDate Column -->
                  <ng-container matColumnDef="OperationType">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="OperationType">
                      {{ t('OPERATION_TYPE') }}
                    </th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.OperationType }}
                    </td>
                  </ng-container>
  
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr
                    mat-row
                    *matRowDef="let row; let odd = odd; columns: displayedColumns"
                    [ngClass]="{ gray: odd }"
                  ></tr>
                </table>
              </div>
              <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
            </div>
          </div>
          <div
            fxLayout="row wrap"
            fxLayout.xs="column"
            style="margin-top: 10px;"
            fxHide.gt-sm
            class="only-mobile"
            *transloco="let t"
          >
            <div fxFlex="0 0 100%">
              <div class="datatable-container mat-elevation-z1">
                <table mat-table [dataSource]="dataSource" class="casetable">
                    <!-- Controlnumber Column -->
    
                    <ng-container
                      matColumnDef="Controlnumber"
                      
                      *transloco="let t"
                    >
                      <th mat-header-cell *matHeaderCellDef>
                        {{ t('CONTROL_NUMBER') }}
                      </th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.Controlnumber }}
                      </td>
                    </ng-container>
    
                    <!-- BranchNumber Column -->
                    <ng-container matColumnDef="ProjectName" >
                      <th mat-header-cell *matHeaderCellDef>
                        {{ t('PNAME') }}
                      </th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.ProjectName }}
                      </td>
                    </ng-container>
    
                    <!-- Applicationdepartment Column -->
                    <ng-container matColumnDef="Operator">
                      <th mat-header-cell *matHeaderCellDef>
                        {{ t('OPERATOR') }}
                      </th>
                      <td mat-cell *matCellDef="let element">
                            {{ element.Operator }}
                      </td>
                    </ng-container>
    
                    <!-- Applicant Column -->
                    <ng-container matColumnDef="OperationDate">
                      <th mat-header-cell *matHeaderCellDef>
                        {{ t('OPERATION_DATE') }}
                      </th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.OperationDate }}
                      </td>
                    </ng-container>
    
                    <!-- ApplicationDate Column -->
                    <ng-container matColumnDef="OperationType">
                      <th mat-header-cell *matHeaderCellDef>
                        {{ t('OPERATION_TYPE') }}
                      </th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.OperationType }}
                      </td>
                    </ng-container>
    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr
                      mat-row
                      *matRowDef="let row; let odd = odd; columns: displayedColumns"
                      [ngClass]="{ gray: odd }"
                    ></tr>
                </table>
              </div>
            </div>
          </div>
          <div
            fxLayout="row wrap"
            fxLayout.xs="column"
            fxLayoutAlign="space-around center"
            style="margin-top: 10px;"
          >
            <div fxFlex="0 0 100%">
              <mat-paginator [length]="length"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="pageEvent = $event">
            </mat-paginator>
            </div>
          </div>
        </mat-card>
      </mat-card>
    </form>
  </div>
  
